html {
	background: lightsteelblue;
}

label, #calculate {
	font-size: 20px;
	font-weight: bold;
}

/* table */
#data_input {
	background: lightgray;
	border: 10px solid slategray;
	padding: 15px;
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

/* table caption */
#title {
	font-size: 30px;
	font-weight: bold;
	background: lightgray;
	border: 10px solid slategray;
	border-bottom-width: 0;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

/* display box */
#result {
	font-weight: bold;
	background: lightslategray;
	width: 368px;
	margin-top: 20px;
	text-align: center;
	border: 5px solid darkslategray;
	border-radius: 10px;
	font-size: 30px;
}

/* calculate button */
#calculate {
	width: 252px;
	margin-top: 20px;
	outline: auto;
	text-align: center;
	border-radius: 5px;
	font-size: 30px;
}

/* inputs */
.input {
	display: block;
	font-size: 25px;
	text-align: center;
	outline: auto;
	background-color: #49ce9d;
	border-radius: 5px;
}

#sex {
	width: 60px;
}

#birth_date {
	width: 248px;
}
